<% @page_title = capture do %>
Submit a Location - Wagscore
<% end %>

<div class="col-sm-6 col-md-6">
<h1>Submit a Location</h1>
<p class="text-danger">* required</p>

<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>*<br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %>*<br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <p><b>Choose Category</b> *</p>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| 
       b.label(class: "checkbox") { b.check_box + b.text}
    end %>
  </div>
  <%= fields_for(:submission) do |s| %>
    <div class="form-group">
      <%= s.label :email %>* <br>
      <%= s.email_field :email, class: 'form-control' %>
      <span id="helpBlock" class="help-block">Your email will not be published, and will only be used for questions.</span>
    </div>
  <% end %>
  
  <%= f.submit class: "btn btn-primary" %> <%= link_to 'Back', locations_path, class: 'btn btn-default' %>
<% end %>
</div>

