<!DOCTYPE html>
<html>
<head>
  <title>WagScore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">        
        <%= link_to "WagScore", root_path, class: 'navbar-brand' %>
        <ul class="nav navbar-nav">
          <li>  
            <%= link_to 'Submit a Location', new_location_path %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>  
            <%= link_to 'About', about_path %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                Sign Out
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="nav-spacer"></div>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
